truongmamnon.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE TruongMamNon [

    <!-- Gốc của tài liệu -->
    <!ELEMENT TruongMamNon (NienKhoa+, KhoiLop+, LopHoc+, PhuHuynh+, HocSinh+, GiaoVien+, DangKiLop+, PhanCongGV+)>
    <!-- 1. NIÊN KHÓA -->
    <!ELEMENT NienKhoa (MaNienKhoa, TenNienKhoa, NamBatDau, NamKetThuc, NgayBatDau, NgayKetThuc, MoTa)>
    <!ELEMENT MaNienKhoa (#PCDATA)>
    <!ELEMENT TenNienKhoa (#PCDATA)>
    <!ELEMENT NamBatDau (#PCDATA)>
    <!ELEMENT NamKetThuc (#PCDATA)>
    <!ELEMENT NgayBatDau (#PCDATA)>
    <!ELEMENT NgayKetThuc (#PCDATA)>
    <!ELEMENT MoTa (#PCDATA)>
    <!-- 2. KHỐI LỚP -->
    <!ELEMENT KhoiLop (MaKhoi, TenKhoi, DoTuoi, MoTa)>
    <!ELEMENT MaKhoi (#PCDATA)>
    <!ELEMENT TenKhoi (#PCDATA)>
    <!ELEMENT DoTuoi (#PCDATA)>
    <!ELEMENT MoTa (#PCDATA)>
    <!-- 3. LỚP HỌC -->
    <!ELEMENT LopHoc (MaLop, MaKhoi, TenLop, SiSo, DanhSachHS, PhongHoc)>
    <!ELEMENT MaLop (#PCDATA)>
    <!ELEMENT TenLop (#PCDATA)>
    <!ELEMENT SiSo (#PCDATA)>
    <!ELEMENT DanhSachHS (#PCDATA)>
    <!ELEMENT PhongHoc (#PCDATA)>
    <!-- 4. HỌC SINH -->
    <!ELEMENT HocSinh (MaHS, MaPH, MaLop, HoTen, GioiTinh, Lop, SoDienThoai, NgaySinh)>
    <!ELEMENT MaHS (#PCDATA)>
    <!ELEMENT Lop (#PCDATA)>
    <!ELEMENT NgaySinh (#PCDATA)>
    <!-- 5. PHỤ HUYNH -->
    <!ELEMENT PhuHuynh (MaPH, HoTen, GioiTinh, DiaChi, SoDienThoai)>
    <!ELEMENT MaPH (#PCDATA)>
    <!ELEMENT HoTen (#PCDATA)>
    <!ELEMENT GioiTinh (#PCDATA)>
    <!ELEMENT DiaChi (#PCDATA)>
    <!ELEMENT SoDienThoai (#PCDATA)>
    <!-- 6. GIÁO VIÊN -->
    <!ELEMENT GiaoVien (MaGV, MaNhanVien, HoTen, GioiTinh, DiaChi, SoDienThoai, TrinhDo)>
    <!ELEMENT MaGV (#PCDATA)>
    <!ELEMENT MaNhanVien (#PCDATA)>
    <!ELEMENT TrinhDo (#PCDATA)>
    <!-- 7. ĐĂNG KÍ LỚP -->
    <!ELEMENT DangKiLop (MaDangKi, MaHocSinh, MaLop, HocKi, NgayChuyenLop)>
    <!ELEMENT MaDangKi (#PCDATA)>
    <!ELEMENT MaHocSinh (#PCDATA)>
    <!ELEMENT HocKi (#PCDATA)>
    <!ELEMENT NgayChuyenLop (#PCDATA)>
    <!-- 8. PHÂN CÔNG GIÁO VIÊN -->
    <!ELEMENT PhanCongGV (MaPhanCong, MaLop, MaGV)>
    <!ELEMENT MaPhanCong (#PCDATA)>
]>
